# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
migrations/
app/__pycache__/

# Python virtual environments
venv/
ENV/
.env

# Testing files
.coverage
htmlcov/
.pytest_cache/
test.py

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

# Local development files
*.log
.git
.gitignore

# Docker files (don't copy these into the image)
.dockerignore